


.forgetpassword {
    position: relative;
    box-sizing: border-box;
    height: 10;
    padding: 10px;
    font-size: 16px;
}
.form-reset{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}